* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

header {
    background-color: #e5e4e4;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
}

header h1 {
    font-size: 40px;
    align-items: center;
}